<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{hotel.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{hotel.add.headline}]]</h1>
                <div>
                    <a th:href="@{/hotels}" class="btn btn-secondary">[[#{hotel.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('hotel')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='hotel', field='nombre')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hotel', field='dirreccion')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hotel', field='categoria', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hotel', field='descripcion')}" />
                <input type="submit" th:value="#{hotel.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
