<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{pagos.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{pagos.add.headline}]]</h1>
                <div>
                    <a th:href="@{/pagoss}" class="btn btn-secondary">[[#{pagos.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('pagos')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='pagos', field='monto')}" />
                <div th:replace="~{fragments/forms::inputRow(object='pagos', field='metodoPago')}" />
                <div th:replace="~{fragments/forms::inputRow(object='pagos', field='fechaPago', inputClass='js-datetimepicker')}" />
                <input type="submit" th:value="#{pagos.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
