<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{administrador.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{administrador.list.headline}]]</h1>
                <div>
                    <a th:href="@{/administradors/add}" class="btn btn-primary ms-2">[[#{administrador.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${administradors.empty}">[[#{administrador.list.empty}]]</div>
            <div th:if="${!administradors.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{administrador.id.label}]]</th>
                            <th scope="col">[[#{administrador.permisos.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="administrador : ${administradors}">
                            <td>[[${administrador.id}]]</td>
                            <td>[[${administrador.permisos}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/administradors/edit/{id}(id=${administrador.id})}" class="btn btn-sm btn-secondary">[[#{administrador.list.edit}]]</a>
                                    <form th:action="@{/administradors/delete/{id}(id=${administrador.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{administrador.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
